.heading__primary {
  color: var(--color-text-primary);
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}
.section__about-text {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-text-primary);
}
