.header__svg {
  background-color: var(--color-primary);
  height: 6rem;
  border-radius: 1.8rem;
  transform: rotate(-5deg);
}

.header__svg .shadow {
  fill: var(--color-background);
}

.heading__primary {
  color: var(--color-text-primary);
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}

.btn__header {
  color: var(--color-text-primary);
  text-decoration: none;
  padding: 0.6rem 0.4rem;
  background-color: var(--color-nav-hover);
  transition: all 0.2s ease;
  &:hover {
    background-color: var(--color-primary-light);
    padding: 0.8rem 0.6rem;
  }
}
.btn__header .icon {
  transform: translateY(0.5rem);
}
