.header__svg {
  background-color: transparent;
  height: 7rem;
  border-radius: 1.8rem;
  transform: rotate(-5deg);
}

.header__svg .shadow {
  fill: var(--color-background);
}

.heading__primary {
  color: var(--color-text-primary);
  font-size: 4.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 1rem;
}
.heading__secondary {
  color: var(--color-text-primary);
  font-size: 3rem;
  margin-bottom: 0.4rem;
  font-weight: 800;
  letter-spacing: -0.2px;
  word-spacing: -3px;
}
.section__project--text {
  font-size: 1.8rem;
  color: var(--color-text-primary);
  margin-bottom: 4rem;
}
